<!-- profil.component.html -->
<button pButton type="button" label="Retour au tableau de bord" (click)="goToDashboard()"></button>

<p-toast></p-toast>

<br><br>
<p-fieldset legend="Profil" *ngIf="user">
    <p><strong>Nom: </strong> {{ user.UtilisateursNom }}</p>
    <p><strong>Prénom: </strong>{{ user.UtilisateursPrenom }}</p>
    <p><strong>Nom de l'entreprise:</strong> {{ user.NomEntreprise }}</p>
    <p><strong>Adresse de l'entreprise:</strong> {{ user.AdressePostal }}</p>
    <p><strong>Numéro Siret:</strong> {{ user.NumeroSiret }}</p>
    <p><strong>Numéro de TVA:</strong> {{ user.NumeroTVA }}</p>
    <p><strong>Référence RCS:</strong> {{ user.RCS }}</p>
    
    <p><strong>Numéro de téléphone: </strong>
        <span *ngIf="!editMode">{{ user.NumeroTelephone }}</span>
        <input *ngIf="editMode" [(ngModel)]="user.NumeroTelephone" (input)="changesMade = true">
      </p>
      <p><strong>Email: </strong>
        <span *ngIf="!editMode">{{ user.Email }}</span>
        <input *ngIf="editMode" [(ngModel)]="user.Email" (input)="changesMade = true">
      </p>
    
      <div *ngIf="editMode">
        <label for="oldPassword"><strong>Ancien mot de passe:</strong> </label>
        <input type="password" id="oldPassword" [(ngModel)]="oldPassword" (input)="changesMade = true">
        
        <br>
        <label for="newPassword"><strong>Nouveau mot de passe:</strong> </label>
        <input [type]="showPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword" (input)="changesMade = true">
        <input type="checkbox" [(ngModel)]="showPassword"> Voir

      </div>

    <br><br>
    <button class="red-button" pButton type="button" (click)="editMode = !editMode">{{ editMode ? 'Quitter le mode modificiation' : 'Entrer en mode modification' }}</button>
    <button pButton *ngIf="editMode" [disabled]="!changesMade" (click)="updateEverything()">Enregistrer les modifications</button>




</p-fieldset>

<p-confirmDialog></p-confirmDialog>

