<p-card header="Connexion">
    <form (ngSubmit)="login(Email.value, MotDePasse.value)">
        <div class="p-fluid">
            <div class="p-field">
                <label for="username">Email</label>
                <input id="username" type="text" pInputText #Email required>
            </div>
            <div class="p-field">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" class="p-inputtext" #MotDePasse required>
            </div>
            <br>
            <button pButton type="submit" label="Connexion"></button>
        </div>
    </form>
</p-card>
<p-toast></p-toast>


