<button pButton type="button" label="Retour au tableau de bord" (click)="goToDashboard()"></button>
<br><br>
<p-toast></p-toast>

<p-fieldset legend="Emettre une facture">
    <p-fieldset legend="Saisissez le Siret de votre correspondant">
        <p-autoComplete [(ngModel)]="siretInput" [suggestions]="filteredUsers" (completeMethod)="filterUsers($event)" field="NumeroSiret" [dropdown]="true" [disabled]="siretIsSelected">

            <ng-template let-user pTemplate="item">
                <div class="user-details">
                    <div>{{user.NomEntreprise}}</div>
                
                </div>
            </ng-template>
        </p-autoComplete>
        <button pButton type="button" class="ValidSiret" label="Valider le SIRET" (click)="onSelectSiret(siretInput)" [disabled]="siretIsSelected"></button>
        <button pButton type="button" class="ValidSiret" (click)="clearSiret()" [disabled]="!siretIsValid">&#10005;</button>
    </p-fieldset>

    <br>

    <p-fieldset legend="Ajoutez votre Facture">
        <p><i>Format demandé : Facture-X <sup>(PDF+XML) </sup> / XML</i></p>
        <div class="upload-container">
            <p-fileUpload #fileUpload name="demo[]" accept=".xml,.pdf" (onSelect)="onUpload($event)" mode="basic"  chooseLabel="Choisir un fichier" [maxFileSize]="maxFileSize" [multiple]="false" [disabled]="!siretIsValid">
                <p-header>
                    Glissez-déposez des fichiers ici pour les télécharger
                </p-header>
            </p-fileUpload>
            <button pButton type="button" class="clear-button" (click)="clearFile()" [disabled]="!siretIsValid">&#10005;</button>
        </div>
    </p-fieldset>

    <br>

    <p-fieldset legend="Émetteur">
        <div class="field" *ngIf="matchingEmetteurData.NomEntreprise">
          <label>Nom de l'entreprise :</label>
          <p>{{matchingEmetteurData.NomEntreprise}}</p>
        </div>
        <div class="field" *ngIf="matchingEmetteurData.NumeroSiret">
          <label>Siret :</label>
          <p>{{matchingEmetteurData.NumeroSiret}}</p>
        </div>
        <div class="field" *ngIf="matchingEmetteurData.NumeroTVA">
          <label>Numéro de TVA :</label>
          <p>{{matchingEmetteurData.NumeroTVA}}</p>
        </div>
        <div class="field" *ngIf="matchingCountryCode">
            <label>Code pays :</label>
            <p>{{matchingCountryCode}}</p>
        </div>
      </p-fieldset>
    
    <br>
    
    <p-fieldset legend="Correspondant">
        <div class="field" *ngIf="matchingCorrespondantData.NomEntreprise">
          <label>Nom de l'entreprise :</label>
          <p>{{matchingCorrespondantData.NomEntreprise}}</p>
        </div>
        <div class="field" *ngIf="matchingCorrespondantData.NumeroSiret">
          <label>Siret :</label>
          <p>{{matchingCorrespondantData.NumeroSiret}}</p>
        </div>
        <div class="field" *ngIf="matchingCorrespondantData.NumeroTVA">
          <label>Numéro de TVA :</label>
          <p>{{matchingCorrespondantData.NumeroTVA}}</p>
        </div>
        <div class="field" *ngIf="matchingCountryCode">
            <label>Code pays :</label>
            <p>{{matchingCountryCode}}</p>
        </div>

    </p-fieldset>

    <br>

    <p-fieldset legend="Facture">
        <div class="field" *ngIf="matchingdeviseCode">
            <label>Code devise: </label>
            <p>{{matchingdeviseCode}}</p>
        </div>

        <div class="field" *ngIf="matchingCorrespondantData.NomEntreprise">
            <label>Numéro (Réfence) de la facture :</label>
            <p-dropdown [options]="unusedDataInvoiceNumber" [(ngModel)]="invoiceData.invoiceNumber" (onChange)="onDataSelected($event, 'invoiceNumber')"></p-dropdown>
        </div>
        <div class="field" *ngIf="matchingCorrespondantData.NumeroTVA">
            <label>Total Hors Taxes (HT) :</label>
            <p-dropdown [options]="unusedDataTotalHT" [(ngModel)]="invoiceData.totalHT" (onChange)="onDataSelected($event, 'totalHT')"></p-dropdown>
        </div>
        <div class="field" *ngIf="matchingCountryCode">
            <label>Total TVA (Montant TVA) :</label>
            <p-dropdown [options]="unusedDataTotalVAT" [(ngModel)]="invoiceData.totalVAT" (onChange)="onDataSelected($event, 'totalVAT')"></p-dropdown>
        </div>
        <div class="field" *ngIf="matchingCountryCode">
            <label>Total (TTC) :</label>
            <p-dropdown [options]="unusedDataTotalTTC" [(ngModel)]="invoiceData.totalTTC" (onChange)="onDataSelected($event, 'totalTTC')"></p-dropdown>
        </div>
        <div class="field" *ngIf="matchingCountryCode">
            <label>Restant à payer (Si avoir) :</label>
            <p-dropdown [options]="unusedDataRemainingToPay" [(ngModel)]="invoiceData.remainingToPay" (onChange)="onDataSelected($event, 'remainingToPay')"></p-dropdown>
        </div>
        
    </p-fieldset>

    <br><br>

    <button pButton type="button" label="Soumettre" (click)="onSubmit()" [disabled]="!isFormValid()"></button>


</p-fieldset>
